.navbar-nav .nav-link {
    margin-right: 10px;
}

header {
    height: 400px;
}
.header-custom {
    background-image: url('/Ruangkosong/Asset/pageutama.jpg');
    /* background-color: aquamarine; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about{
    margin-top: 80px;
}
.body-login {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('pageutama.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header-login {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 1em;
    text-align: center;
}

.nav-login ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;
    gap: 20px;
}

.nav-login ul .logo {
    margin-right: auto; /* Pushes other items to the right */
}

.nav-login ul .logo img {
    height: 40px; /* Adjust the height as needed */
}

.nav-login a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px; /* Added padding for better spacing */
}

.nav-login a:hover {
    color: #555;
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjusted to account for header height */
    padding: 2em;
}

.section-login {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.h1-login {
    margin-top: 0;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-email {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.btn-login {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-login:hover {
    background-color: #555;
}

.google-button {
    background-color: gray;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-button:hover {
    background-color: #f0f0f0;
}

.p-login {
    font-size: 12px;
    color: #666;
}

.p-login a {
    color: #333;
    text-decoration: none;
}

.p-login a:hover {
    text-decoration: underline;
}

.about{
    margin-bottom: 50px;
}